[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-dotenv = "*"
httpx = "*"
scikit-learn = "*"
pandas = "*"
numpy = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"
